*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    width: max-content;

}

h1{
    font-size: 35px;
    padding: 10px;
    margin: 10px;
    background-color: pink ;
}


input,textarea{
    font-size:20px;
    padding: 10px;
    margin: 10px;
}