*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 90%;
    text-align: center;
    margin: 0 auto;
}

h1{
    padding: 10px;
    margin: 10px; 
}
 
input, textarea{
    font-size:20px;
    padding: 10px;
    height: 1vh;
} 

textarea{
    height: 55vh;
    resize: none;
}


.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.form {
    flex-basis: 45%;
    min-width: 400px;
    margin: 0 auto;
}

.preview {
    flex-basis: 45%;
    min-width: 400px;
}


.hidden {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}

canvas {
    visibility: visible;
}